*~
#*
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.o
*.so
*.out
*.Renviron
*.Rout
*.toc
*_1
*.tar.gz
*.tgz
*.zip
\.NEWS
\.dist
\.instdocs
\.install
\.roxy
\.source
\.testsource
\.includes
\.headers
\.tests
\.Rhistory
\.Rproj.user
.headers
.roxy
.source
/cache/*.*
/cache/figs/*.*
/cache/inforeach/*
/tmp/*.*
bak
figure
cache
*concordance.tex
.DS_Store
*.Rproj
.Rproj.user
*.gz
